:root {
  /* Dark Kanagawa Palette inspired by https://github.com/rebelot/kanagawa.nvim*/
  --dark-bg: #181820;
  --dim-bg: #2a2a37;
  --medium-bg: #1f1f28;
  --light-bg: #363636;
  --link: #658594;
  --text: #dcd7ba;
  --border: #7e7e7e;
}

/* TODO: this is my current fix for a overflow problem when first select the math quiz*/
* {
  overflow-y: hidden;
}

button:focus {
  outline: none;
  box-shadow: none;
}

* {
  color: var(--text);
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--dim-bg);
}

/* borders */
header,
footer,
aside,
nav,
main {
  border: thin solid var(--border);
  border-radius: 0.2rem;
}

nav,
aside {
  background: var(--dark-bg);
}
main {
  background: var(--medium-bg);
}
header,
footer {
  background: var(--light-bg);
}

/* navigation and side bar*/
nav,
aside {
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.heading {
  text-align: center;
}

/* Links */
a {
  color: var(--link);
  text-decoration: none;
  font-weight: bold;
}

/* Practice Area */
#prac_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 80%;
}

#prac_area > * {
  flex-grow: 1;
}

/* Answer Buttons */

#answer_button {
  display: flex;
  flex-direction: row;
  height: 20%;
}
#answer_button > * {
  flex-grow: 1;
  height: 100%;
  width: 25%;
  background: var(--dim-bg);
  border: thin solid var(--border);
}

#question_wrapper {
  height: 80%;
}
#question {
  text-align: center;
}
/* phones */
@media (max-width: 600px) {
  #prac_area {
    flex-direction: column;
  }

  h1 {
    padding: 0;
  }

  #prac_area .heading {
    margin: 0.2rem;
  }

  #prac_area ul {
    margin: 0.2rem;
  }

  #prac_area nav {
    order: 3;
  }

  #prac_area aside {
    order: 2;
  }

  #prac_area main {
    order: 1;
  }
}

/* tablets and bigger */
@media (min-width: 601px) {
  #prac_area {
    flex-direction: row;
    height: 90%;
  }

  #prac_area main {
    width: 70%;
  }

  footer,
  header {
    height: 5%;
  }

  nav,
  aside {
    width: 15%;
  }
}
